@import "./colors.scss";

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.black-49 {
  color: $bket-back-49-color;
}
.black-20 {
  color: $bket-back-20-color;
}


.black-80 {
  color: $bket-back-80-color;
}

.black-67 {
  color: $bket-back-67-color;
}
.rounded-12 {
  border-radius: 12px;
}

.form-simple-input {
  background-color: rgba(217, 217, 217, 0.72);

  &:focus {
    border-color: $bket-back-21-color !important;
    outline: none;
  }
}

.home {
  background: #efefef;
}

.bket-active {
  background-color: red !important;
}

.bket-side-bar {
  background-color: #ffffff;
  box-shadow: 1px 9px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0 16px 16px 0;

  &-menu {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 0.8);
    color: rgba(0, 0, 0, 0.6);
    &-text {
    }

    svg {
      fill: rgba(0, 0, 0, 0.65);
    }

    &-active {
      border-radius: 8px;
      background-color: rgba(0, 169, 54, 1);
      color: white;
      &-text {
      }

      svg {
        fill: white !important;
      }
    }
  }

  &-menu-2 {
    .left-pane {
      width: 0.7rem;
      height: 2.8rem;
      border-radius: 8px;
      background-color: rgba(217, 217, 217, 0.8);
      margin-right: 8px;
    }

    &-active {
      color: rgba(0, 169, 54, 1);
      .left-pane {
        background-color: rgba(0, 169, 54, 1);
      }
    }
  }
}

.p-53p {
  padding-left: 53px !important;
}
.w-30p {
  width: 30%;
}
.w-40p {
  width: 40%;
}
.side-bar-w {
  width: 16% !important;
}
.side-bar-c {
  width: 84% !important;
}

.position-img {
  top: 18px;
  left: 25px;
}

.show-menu {
  direction: inherit;
}

.search-input {
  background: rgba(217, 217, 217, 0.8);
  border-radius: 8px;
  padding: 14px;
  border: none;

  &:focus {
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    outline: none;
  }
}

.bket-home {
  &-content {
    height: calc(100% - 4rem);
  }
}

@media screen and (max-width: 1629px) {
  .side-bar-w {
    width: 20% !important;
  }
  .side-bar-c {
    width: 80% !important;
  }
}
@media screen and (max-width: 1440px) {
  .side-bar-w {
    width: 22% !important;
  }
  .side-bar-c {
    width: 78% !important;
  }
}
@media screen and (max-width: 1331px) {
  .side-bar-w {
    width: 25% !important;
  }
  .side-bar-c {
    width: 75% !important;
  }
}
@media screen and (max-width: 1196px) {
  .show-menu {
    display: none;
  }
  .side-bar-w {
    width: 0 !important;
  }
  .side-bar-c {
    width: 100% !important;
  }
}
